<ng-container *ngFor="let f of filterConfiguration.filters">

  <mat-form-field appearance="fill" *ngIf="f.filterSettings.textContainmentFilter">
    <mat-label>{{f.criterionId}}</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let v of f.filterValues" [value]="v">{{v}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle *ngIf="f.filterSettings.existenceFilter"
                    class="example-margin">
    {{f.criterionId}}
  </mat-slide-toggle>

  <mat-slider *ngIf="f.filterSettings.numericLTEFilter"
              thumbLabel
              min="{{f.filterValues[0]}}"
              max="{{f.filterValues[1]}}"></mat-slider>

</ng-container>

