@import "../theming/themes";
@import "variables";

html {
  scroll-behavior: smooth;
}

.root {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-base;
  font-size: $font-size-base;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.3;
  font-family: $font-family-base;
}

.root--faastener-theme {
  @include angular-material-theme($faastener-main-theme);
}

.root__main-grid {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

/*
@media screen and (max-width: 510px) {
  .root__main-grid {
    display: grid;
    grid: " header " 4em
        " main   " 1fr
        " footer " min-content /
        1fr;
    height: 100vh;
  }
}
*/
