@import "../theming/faastener-palette";
@import "~@angular/material/theming";

// Typography
$font-family-base: Roboto, "Helvetica Neue", sans-serif !default;
$font-size-base: .875rem !default;
$font-weight-base: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 600 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;

$headings-margin-bottom: (1rem / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 400 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;


// Colors
$violet-main: mat-color($faastener-violet);
$violet-300: mat-color($faastener-violet, 300);
$violet-400: mat-color($faastener-violet, 400);
$violet-500: mat-color($faastener-violet, 500);
$violet-600: mat-color($faastener-violet, 600);
$violet-700: mat-color($faastener-violet, 700);

$pink-main: mat-color($faastener-pink, 900);
$pink-800: mat-color($faastener-pink, 800);
$pink-900: mat-color($faastener-pink, 900);

$gray-bg: rgba(0, 0, 0, .024);
$gray-60: rgba(0, 0, 0, .6);
