<section id="view-conf-section" class="view-config-section" #conf>
  <div class="container">
    <div class="page-section-header text-center" fxLayout="column">
      <h3>Platform Browser Properties</h3>
      <p class="text-center">
        Show/hide platform view details and configure the data representations.
      </p>
    </div>
    <mat-accordion>
      <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                           hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Platform View properties
          </mat-panel-title>
          <mat-panel-description>
            <span fxFlex></span>
            {{panelOpenState ? 'Click to collapse settings' : 'Click to expand settings'}}
            <mat-icon>settings</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-form-field class="platform-select">
          <mat-label>Select a platform</mat-label>
          <mat-select (selectionChange)="emitPlatformChangeEvent($event)">
            <mat-option *ngFor="let platform of platforms" value="{{platform.id}}">
              {{platform.platformName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
