.view-config-section {
  margin-top: 100px;
  padding: 0;
}

.container {
  padding: 20px 0;
}

.platform-select {
  width: 50%;
}

.platform-data-section {
  margin-top: 40px;
}

.platform-logo {
  max-width: 200px !important;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.platform-name {
  margin: 100px 0 0 40px;
}

mat-chip {
  margin-bottom: 10px !important;
}
