@import "../_scss/shared";

:host {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

.info-tabs {
  width: 100%;
  color: white;
  display: flex;
}

.info-tabs__links {
  width: 100%;
  display: flex;
}

.info-tabs--link {
  flex: 1 1 auto;
  font-size: .8rem;
}

.info-main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
  width: 100%;
}

.info-main__text {

}

@media screen and (min-width: 1100px) {
  .info-tabs__links {
    max-width: 1200px;
  }
}
