@import "../../_scss/shared";
@import "../../_scss/global/variables";

:host {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: 20;
}

.bottom-navbar {
  flex-shrink: 0;
  padding: 0;
  height: 3rem !important;
  background: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

.bottom-navbar__button {
  height: 100%;
  width: 30%;

  &:focus{
    outline: none;
  }
}

@media screen and (min-width: 510px) {
  .bottom-navbar {
    display: none;
  }
}
