<header id="sticky-header">
  <div class="container" fxLayout="row wrap">

    <div fxLayoutAlign="start center">
      <div class="header-logo">
        <a [ngx-scroll-to]="'info-page-banner'">
          <img src="assets/images/logo-v.png" alt="FaaStener logo">
        </a>
      </div>
      <button mat-icon-button id="menu-toggle" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div fxFlex class="top-menu">
      <button mat-flat-button [ngx-scroll-to]="'about-section'">
        <strong>About</strong>
      </button>

      <button mat-flat-button [ngx-scroll-to]="'platforms-section'">
        <strong>Platforms</strong>
      </button>

      <button mat-flat-button>
        <strong>Contact Us</strong></button>

      <span fxFlex></span>

      <button mat-flat-button class="icon-button">
        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        <strong> GitHub</strong>
      </button>
    </div>

  </div>
</header>
