.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-section {
  padding: 80px 0;
}

.gray-page-section {
  padding: 80px 0;
  background: rgba(0, 0, 0, .024);
}

.page-section mat-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2) !important;
}

.page-section-header {
  margin: 0 0 2rem;
}

.page-section-header h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 16px;
}

.page-section-header h3 {
  font-size: 26px;
  font-weight: 700;
}

.page-section-header p {
  font-size: 16px;
  margin: 0;
}

[mat-card-icon] {
  font-size: 64px !important;
  height: 64px !important;
  width: 64px !important;
  transition: all .3s ease;
}

.text-color-primary {
  color: #632966;
}
