#sticky-header {
  position: fixed !important;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  transition: padding 0.3s linear;
  -webkit-transition: padding 0.3s linear;
  z-index: 1000;
  box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

#sticky-header button {
  height: 100px;
}

#menu-toggle {
  display: none;
  position: absolute;
  right: 5px;
  top: -8px;
}

.header-logo {
  display: flex;
  margin: 5px 40px 0 0;
}

.header-logo img {
  width: 68px;
  height: 65px;
}

.icon-button {
  .mat-icon {
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  #sticky-header {
    padding: 0;
  }

  #sticky-header > .container {
    height: 70px;
    padding: 0;
  }

  .header-logo img {
    width: 48px;
    height: 45px;
  }

  .menu-opened:host .header-mobile-top {
    padding: 13px 0;
  }

  #menu-toggle {
    display: block;
    margin: 0;
  }

  .menu-opened:host .container {
    height: auto !important;
  }

  .header-logo {
    margin-left: 15px;
  }

  .top-menu {
    display: none !important;
  }

  .menu-opened:host .top-menu {
    display: block !important;
    width: 100% !important;
    flex: none !important;
    background: #f3f3f3;
  }

  .menu-opened:host .top-menu button {
    display: block;
    width: 100%;
    line-height: 56px !important;
  }
}
