<header>
  <nav class="header__toolbar">
    <ul class="header__menu">
      <li class="menu__icon"><a class="menu__link-icon" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></a></li>
      <li><a [routerLink]="['/home']"><img class="header__logo" alt="FaaStener logo"></a></li>
      <li class="menu__text"><a class="menu__link" mat-button [routerLink]="['/home']" routerLinkActive="menu__link--active"> Home </a></li>
      <li class="menu__text"><a class="menu__link" mat-button [routerLink]="['/info']" routerLinkActive="menu__link--active"> About </a></li>
      <li class="menu__text"><a class="menu__link" mat-button [routerLink]="['/technologies']" routerLinkActive="menu__link--active"> Technologies </a></li>
      <li class="menu__text"><a class="menu__link" mat-button href="mailto:yussupov@iaas.uni-stuttgart.de?subject=%5BGitHub%5D%20FaaStener"> Contact Us </a></li>
      <li class="header__spacer"><span></span></li>
      <li>
        <a mat-icon-button class="menu__link-icon" target="_blank" href="https://github.com/faastener/faastener">
          <fa-icon [icon]="faGithub"></fa-icon>
        </a>
      </li>
    </ul>

    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <a mat-menu-item [routerLink]="['/home']" routerLinkActive="menu__link--active"> Home </a>
        <a mat-menu-item [routerLink]="['/info']" routerLinkActive="menu__link--active"> About </a>
        <a mat-menu-item [routerLink]="['/platforms']" routerLinkActive="menu__link--active"> Platforms </a>
        <a mat-menu-item href="mailto:yussupov@iaas.uni-stuttgart.de?subject=%5BGitHub%5D%20FaaStener"> Contact Us </a>
      </ng-template>
    </mat-menu>
  </nav>
</header>
