@import "../../_scss/shared";

:host {
  flex: 1;
}

.platforms-list {
  margin-bottom: 1rem;
  display: flex;
  flex-flow: column nowrap;
}

.platforms-list__search {
  display: flex;
  justify-content: center;
}

.platforms-list__search-field {
  width: 80%;
}

.platforms-list__cards {
  flex: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.platforms-list__card {
  display: flex;
  flex: 1 1 auto;
  margin: 0.2rem .5rem 0 .5rem;
  border-left: .2rem solid $violet-400;
  transition: all .3s ease;

  &:hover {
    border-left: .2rem solid $salad-600;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2) !important;
    cursor: pointer;
  }
}

.platforms-list__card-content {
  display: flex;
  flex: 1 1 auto;
  margin: 0.2rem .5rem 0 .5rem;
  padding: 0 .5rem !important;
  align-items: center;
  justify-content: space-evenly;
}

.platforms-list__logo {
  max-height: 3rem;
  max-width: 3rem;
  margin: 0 .5rem;
  border: none;
  align-self: center;
}

.platforms-list__card-spacer {
  flex-grow: 2;
}

.platforms-list__card-description {
  flex: 1;
  font-size: .8rem;
  padding-right: .5rem;
}

.platforms-list__explore-button {
  @include nav_item;
}

.platforms-list__paginator {
  background: none;
}

@media (min-width: 790px) {
  .platform-section__card-description {
    display: flex;
    flex: 1;
    font-size: .95rem;
  }

  .platforms-list__cards {
    display: flex;
    flex-flow: row wrap;
  }

  .platforms-list__card-content {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

}

@media screen and (min-width: 900px) {
  .platforms-list {
    max-width: 910px;
    min-width: 900px;
  }
}
