<footer>
  <section class="footer">
    <div class="container">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap">
        <div fxFlex="100" class="footer-box">
          <div fxLayout="column">
            <div fxLayout="row" fxFlexAlign="center">
              <h4 class="footer-box-title">
                <b>Disclaimer</b>
              </h4>
            </div>

            <div fxLayout="column">
              <p class="text-center">© 2020 FaaStener</p>
              <p class="text-center">
                This SOFTWARE PRODUCT is provided "as is" and "with all faults."
                THE PROVIDER makes no representations or warranties of any kind concerning the safety, suitability, lack
                of viruses, inaccuracies, typographical errors, or other harmful components of this SOFTWARE PRODUCT.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
