.footer {
  background-color: #632966;
  color: #ffffff;
}
.footer-box {
  padding: 25px 25px 10px;
}
.footer-box:first-child {
  padding-left: 0;
}
.footer-box-title {
  position: relative;
  margin: 0 0 24px;
  padding-bottom: 12px;
}
.footer-box-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 130px;
  background-color: #ec407a;
}

@media (max-width: 959px) {
  .footer-box:first-child {
    padding-left: 30px;
  }
  .footer-box {
      box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  }
}
