@import "../../_scss/shared";
@import "../../_scss/global/variables";

:host {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: flex-end;
}

.child-grouping__criterion-heading {
  display: flex;
  flex-flow: row nowrap;
}

.child-grouping__criterion-title {
  padding: .2rem 0 0 .5rem;
}

.child-grouping__criterion-description {
  flex: 2 0 100%;
}

.child-grouping__criterion-examples {
  flex: 2 0 100%;
}
