<div class="child-grouping__criterion-heading">
  <mat-icon>{{icon}}</mat-icon>
  <span class="child-grouping__criterion-title"><strong>{{title}}</strong></span>
</div>


<div *ngIf="!criterionInstance">
  <p class="child-grouping__criterion-description"> {{criterion.description }}</p>
  <div class="child-grouping__criterion-examples">
    <span class="text-muted"> Examples: {{criterion.exampleValues | json }} </span>
  </div>
</div>

<mat-list *ngIf="criterionInstance">
  <mat-list-item *ngFor="let v of criterionInstance.values">
    <mat-icon mat-list-icon>arrow_right_alt</mat-icon>
    <div mat-line matTooltip="{{v.comment}}">
      {{v.value}}
      <a *ngFor="let ref of v.references; let i = index " href="{{ref}}" mat-icon-button color="primary" matTooltip="Reference {{i}}">
        <mat-icon>link</mat-icon>
        link
      </a>
    </div>

  </mat-list-item>
</mat-list>


