@import "./global/variables";

@mixin nav_item {
  color: $violet-600;
  cursor: pointer;
  text-decoration: none;

  /*&:hover, &:active {
    text-decoration: underline;
  }*/

  &:hover {
    color: $pink-900;
  }

  &:active {
    color: $violet-700;
  }

  /*&:visited {
    color: $violet-500;
    text-decoration: underline;
  }*/
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.text-right {
  text-align: right;
}

.font-light {
  font-weight: 300 !important;
}

.font-bold {
  font-weight: 700 !important;
}

.text-muted {
  color: rgba(0, 0, 0, .54) !important;
}
