<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav"
               [mode]="mobileQuery.matches ? 'over' : 'side'">

    <ng-container *ngIf="renderedFilter">

      <mat-accordion multi displayMode="flat">
        <ng-container *ngFor="let filterBlock of renderedFilter">
          <mat-expansion-panel *ngIf="filterBlock.filters && filterBlock.filters.length > 0"
                               class="filter-block">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon *ngIf="filterBlock.blockIcon">{{filterBlock.blockIcon}}</mat-icon>
                {{filterBlock.blockName}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <app-criterion-filter [filter]="filter" *ngFor="let filter of filterBlock.filters" (updateQuery)="onQueryUpdate($event)"></app-criterion-filter>

          </mat-expansion-panel>

        </ng-container>

      </mat-accordion>
    </ng-container>

  </mat-sidenav>

  <mat-sidenav-content class="content-container">
    <app-header></app-header>
    <section class="platforms-main">
      <div class="platforms__controls">
        <h1 class="g__page-section-header platforms__header">Platform Browser</h1>
        <div class="g__spacer"></div>
        <mat-button-toggle-group [(ngModel)]="browsingMode">
          <mat-button-toggle class="platforms__settings" value="explore" aria-label="explore platforms"
                             matTooltip="Explore Mode">
            <mat-icon>subject</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle class="platforms__settings" value="search" aria-label="search platforms"
                             matTooltip="Search Mode">
            <mat-icon>search</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <p class="g__page-section__description">
        Browse through the list of available platforms, for a detailed view click on the corresponding platform.
      </p>

      <app-technology-list *ngIf="browsingMode === 'explore'"
                           [dataSource]="dataSource">
      </app-technology-list>

      <app-technology-table *ngIf="browsingMode === 'search'"
                            [dataSource]="dataSource"
                            [framework]="framework"
                            [filterConfiguration]="filterConfiguration"
                            [sidenav]="sidenav">
      </app-technology-table>
    </section>
    <app-footer></app-footer>
  </mat-sidenav-content>


</mat-sidenav-container>












