<div class="platforms-main">
  <div class="platforms__controls">
    <h1 class="g__page-section-header platforms__header">Platform Browser</h1>
    <div class="g__spacer"></div>
    <mat-button-toggle-group [(ngModel)]="browsingMode">
      <mat-button-toggle class="platforms__settings" value="list" aria-label="Simple browsing" matTooltip="Simple browsing mode">
        <mat-icon>list</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle class="platforms__settings" value="filter" aria-label="Advanced filtering mode" matTooltip="Advanced filtering mode">
        <mat-icon>filter_alt</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <p class="g__page-section__description">
    Browse through the list of available platforms, for a detailed view click on the corresponding platform.
  </p>

  <app-technology-list *ngIf="browsingMode === 'list'"  [dataSource]="dataSource"></app-technology-list>


  <router-outlet></router-outlet>
</div>

