@import "../_scss/shared";
@import "../_scss/global/variables";

:host {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

.sidenav-container {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  flex: 1;
}

.sidenav {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  flex: 1;
  width: 80%;
  max-width: 30em;
}

.sidenav__filter-header {
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}

.sidenav__filter-title {
  display: flex;
  flex-flow: row nowrap;
}

.sidenav__accordion {
  display: flex;
  flex-flow: column nowrap;
}

.sidenav__filter-block {
  flex-grow: 1;
  flex-shrink: 0;
  box-shadow: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid $gray-30;
}

.content-container {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  flex: 1;
}

.platforms-main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  @include bg-grey;
  padding-top: 1.5rem;
}

.platforms__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.platforms__description-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 90%;
}

.platforms__description {
  flex: 1 1 max-content;
}

.platforms__filter-button {
  height: 2.5rem;
  @include nav_item;
}

.platforms__filter-button-title {
  display: none;
}

.platforms__header {
  flex: 1 1 auto;
}

.platforms__settings {
  @include nav_item;
}

@media screen and (min-width: 900px) {
  .platforms__controls, .platforms__description-block  {
    max-width: 910px;
  }

  .platforms__filter-button-title {
    display: inline;
  }
}
