<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="sidenav">

    <ng-container *ngFor="let f of filterConfiguration.filters">

      <mat-form-field appearance="fill" *ngIf="f.filterSettings.textContainmentFilter">
        <mat-label>{{f.criterionId}}</mat-label>
        <mat-select multiple>
          <mat-option *ngFor="let v of f.filterValues" [value]="v">{{v}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-slide-toggle *ngIf="f.filterSettings.existenceFilter"
                        class="example-margin">
        {{f.criterionId}}
      </mat-slide-toggle>

      <mat-slider *ngIf="f.filterSettings.numericLTEFilter"
                  thumbLabel
                  min="{{f.filterValues[0]}}"
                  max="{{f.filterValues[1]}}"></mat-slider>

    </ng-container>




  </mat-sidenav>

  <mat-sidenav-content class="content-container">
    <app-header></app-header>
    <section class="platforms-main">
      <div class="platforms__controls">
        <h1 class="g__page-section-header platforms__header">Platform Browser</h1>
        <div class="g__spacer"></div>
        <mat-button-toggle-group [(ngModel)]="browsingMode">
          <mat-button-toggle class="platforms__settings" value="explore" aria-label="explore platforms"
                             matTooltip="Explore Mode">
            <mat-icon>subject</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle class="platforms__settings" value="search" aria-label="search platforms"
                             matTooltip="Search Mode">
            <mat-icon>search</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>

      <p class="g__page-section__description">
        Browse through the list of available platforms, for a detailed view click on the corresponding platform.
      </p>

      <app-technology-list *ngIf="browsingMode === 'explore'"
                           [dataSource]="dataSource">
      </app-technology-list>

      <app-technology-table *ngIf="browsingMode === 'search'"
                            [dataSource]="dataSource"
                            [framework]="framework"
                            [filterConfiguration]="filterConfiguration"
                            [sidenav]="sidenav">
      </app-technology-table>
    </section>
    <app-footer></app-footer>
  </mat-sidenav-content>


</mat-sidenav-container>












