@import "../_scss/shared";

:host {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

.sidenav-container {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  flex: 1;
}

.sidenav {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  flex: 1;
  width: 80%;
  max-width: 30em;
}

.content-container {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  flex: 1;
}

.platforms-main {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  @include bg-grey;
  padding-top: 1.5rem;
}

.platforms__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}

.platforms__header {
  flex: 1 1 auto;
}

.platforms__settings {
  @include nav_item;
}

.filter-block {
  box-shadow: none;
  color: #3f51b5;
  background: #e8eaf6;
  border-radius: 0;
  border-bottom: 1px solid #93999c;
}

.filter-block__filter-values {
  @include list-style-none;
}

@media screen and (min-width: 900px) {
  .platforms__controls {
    max-width: 910px;
  }
}
