<ng-container *ngIf="filter.filterSettings.textContainmentFilter">

  <ng-container *ngIf="filter.filterSettings.textContainmentOptions !== 3">
    {{filter.displayName}}
    <ul class="filter-block__filter-values">
      <li *ngFor="let value of filter.filterValues">
        <mat-checkbox color="primary">{{value}}</mat-checkbox>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="filter.filterSettings.textContainmentOptions === 3">
    {{filter.displayName}}
    <mat-slide-toggle>
    </mat-slide-toggle>
  </ng-container>

</ng-container>

<ng-container *ngIf="filter.filterSettings.existenceFilter">
  {{filter.displayName}}
  <mat-slide-toggle></mat-slide-toggle>
</ng-container>

<ng-container *ngIf="filter.filterSettings.numericLTEFilter">
  {{filter.displayName}}
  <mat-slider thumbLabel
              min="{{filter.filterValues[0]}}"
              max="{{filter.filterValues[1]}}">
  </mat-slider>
</ng-container>
