<div class="criterion-block"
     *ngIf="filter.filterType === FilterType.bool || filter.filterType === FilterType.containsAny">
  <h4 class="criterion-block__filter-name">
    {{filter.displayName}}
  </h4>
  <mat-radio-group class="criterion-block__filter-body" aria-label="Select an option" [formControl]="filterElement">
    <ul class="filter-block__filter-values">
      <li>
        <mat-radio-button [value]="true" color="primary" disableRipple>
          Available
        </mat-radio-button>
      </li>
      <li>
        <mat-radio-button [value]="false" color="primary" disableRipple>
          Not Available
        </mat-radio-button>
      </li>
    </ul>
  </mat-radio-group>
</div>

<div class="criterion-block" *ngIf="filter.filterType === FilterType.lte || filter.filterType === FilterType.gte">
  <h4 class="criterion-block__filter-name">
    {{filter.displayName}}
  </h4>
  <div class="criterion-block__filter-body">
    <!--<mat-slider [formControl]="filterElement" thumbLabel min="{{filter.filterValues[0]}}"
                max="{{filter.filterValues[1]}}">
    </mat-slider> TODO: fix slider-based filters -->
  </div>
</div>

<div class="criterion-block"
     *ngIf="filter.filterType === FilterType.containsOne || filter.filterType === FilterType.containsAll || filter.filterType === FilterType.excludesAll">
  <h4 class="criterion-block__filter-name">
    {{filter.displayName}}
  </h4>
  <div class="criterion-block__filter-body">
    <form [formGroup]="filterElement">
      <ul class="filter-block__filter-values" formArrayName="checkboxes">
        <li *ngFor="let value of filter.filterValues; let i = index">
          <mat-checkbox color="primary" [formControlName]="i" [checked]="false">{{value}}</mat-checkbox>
        </li>
      </ul>

      <mat-button-toggle-group *ngIf="filterElement.dirty" class="filter-block__filter-type" formControlName="filterType" aria-label="Text Containment Option">
        <mat-button-toggle class="filter-block__filter-type-button" value="{{FilterType.containsOne}}">OR</mat-button-toggle>
        <mat-button-toggle class="filter-block__filter-type-button" value="{{FilterType.containsAll}}">AND</mat-button-toggle>
        <mat-button-toggle class="filter-block__filter-type-button" value="{{FilterType.excludesAll}}">NOT</mat-button-toggle>
      </mat-button-toggle-group>
    </form>
  </div>

</div>

<button mat-flat-button class="clear-filter-button" color="primary" *ngIf="filterElement.dirty" (click)="clearFilter()">
  Clear Filter
</button>

