@import "../../_scss/shared";

.platforms-list {
  margin-bottom: 1rem;
}

.platforms-list__controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

.platforms-list__header {
  margin-left: 1.5rem;
  flex: 0 0 max-content;
}

.platforms-list__settings {
  @include nav_item;
  margin-right: 1rem;
}

.platforms-list__search {
  display: flex;
  justify-content: center;
}

.platforms-list__search-field {
  width: 80%;
}

.platforms-list__cards {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.platforms-list__card {
  margin: 0.2rem .5rem 0 .5rem;
  padding: 0 .5rem !important;
  border-left: .2rem solid $violet-400;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &:hover {
    border-left: .2rem solid #b5ca8f;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2) !important;
  }
}

.platforms-list__logo {
  max-height: 3rem;
  max-width: 3rem;
  margin: 0 .5rem;
  border: none;
  align-self: center;
}

.platforms-list__card-spacer {
  flex-grow: 2;
}

.platforms-list__card-description {
  flex: 1;
  font-size: .8rem;
  padding-right: .5rem;
}

.platforms-list__explore-button {
  @include nav_item;
}

.platforms-list__paginator {
  background: none;
}

@media (min-width: 790px) {
  .platform-section__card-description {
    display: flex;
    flex: 1;
    font-size: .95rem;
  }
}
