@import "../../_scss/shared";

:host {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.platforms-section__cards {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.platform-section__card {
  margin: .5rem .5rem 0 .5rem;
  border-left: .2rem solid $violet-400;
  transition: all .3s ease;
  flex: 1 0 min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    border-left: .2rem solid #b5ca8f;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2) !important;
  }
}

.platform-section__logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.platform-section__logo {
  max-height: 4rem;
  max-width: 4rem;
  margin: 1em 0;
  border: none;
  align-self: center;
}

.platform-section__card-spacer {
  flex-grow: 2;
}

.platform-section__card-title {
  padding-top: 1rem;
  font-size: 1rem;
  color: $violet-500;
  align-self: center;
}

.platform-section__card-description {
  display: flex;
  flex: 1;
  font-size: .9rem;
}

@media screen and (min-width: 550px) {
  .platform-section__card-title {
    font-size: 1.1rem;
  }
}


@media (min-width: 790px) {
  .platform-section__card-title {
    font-size: 1.2rem;
  }

  .platform-section__card-description {
    display: flex;
    flex: 1;
    font-size: .95rem;
  }
}
