@import "../../_scss/shared";

:host {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  @include bg-grey;
}

.platforms-section__cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.platform-section__card {
  margin: .5rem;
  border-top: .2rem solid $violet-400;
  transition: all .3s ease;
  flex: 1 0 16%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &:hover {
    border-top: .2rem solid #b5ca8f;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2) !important;
    opacity: 1;

    .platform-section__logo {
      opacity: 1;
    }
  }

  .platform-section__logo {
    opacity: .55;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }
}

.platform-section__logo-container {
  flex: 0 0 10rem;
  display: flex;
  align-content: center;
  justify-content: center;
}

.platform-section__logo {
  height: auto;
  width: 80%;
  margin: 1em 0;
  border: none;
  align-self: center;
}

.platform-section__card-spacer {
  flex-grow: 2;
}

.platform-section__card-title {
  padding-top: 1rem;
  font-size: 1rem;
  color: $violet-500;
  align-self: center;
}

.platform-section__card-description {
  display: none;
  font-size: .8rem;
}

@media screen and (min-width: 550px) {
  .platform-section__card-title {
    font-size: 1.1rem;
  }

  .platform-section__card-description {
    display: flex;
    flex: 1;
    font-size: .9rem;
  }
}


@media (min-width: 790px) {
  .platform-section__card-title {
    font-size: 1.2rem;
  }

  .platform-section__card-description {
    display: flex;
    flex: 1;
    font-size: .95rem;
  }
}
