// Material palettes
$faastener-pink: (
  50 : #fde8ef,
  100 : #f9c6d7,
  200 : #f6a0bd,
  300 : #f279a2,
  400 : #ef5d8e,
  500 : #ec407a,
  600 : #ea3a72,
  700 : #e73267,
  800 : #e42a5d,
  900 : #df1c4a,
  A100 : #ffffff,
  A200 : #ffe0e7,
  A400 : #ffadbe,
  A700 : #ff94aa,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-purple: (
  50 : #f5e9f7,
  100 : #e6c8eb,
  200 : #d5a3de,
  300 : #c47ed0,
  400 : #b863c6,
  500 : #ab47bc,
  600 : #a440b6,
  700 : #9a37ad,
  800 : #912fa5,
  900 : #802097,
  A100 : #f6d2ff,
  A200 : #ec9fff,
  A400 : #e16cff,
  A700 : #dc52ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$faastener-indigo: (
  50 : #e8eaf6,
  100 : #c5cbe9,
  200 : #9fa8da,
  300 : #7985cb,
  400 : #5c6bc0,
  500 : #3f51b5,
  600 : #394aae,
  700 : #3140a5,
  800 : #29379d,
  900 : #1b278d,
  A100 : #c6cbff,
  A200 : #939dff,
  A400 : #606eff,
  A700 : #4757ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$faastener-gray: (
  50 : #e5e6e7,
  100 : #bec2c3,
  200 : #93999c,
  300 : #677074,
  400 : #475156,
  500 : #263238,
  600 : #222d32,
  700 : #1c262b,
  800 : #171f24,
  900 : #0d1317,
  A100 : #5bb9ff,
  A200 : #28a3ff,
  A400 : #008bf4,
  A700 : #007dda,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$faastener-salad: (
  50 : #f7f9f3,
  100 : #ebf1e0,
  200 : #dde7cb,
  300 : #cfddb6,
  400 : #c5d6a7,
  500 : #bbcf97,
  600 : #b5ca8f,
  700 : #acc384,
  800 : #a4bd7a,
  900 : #96b269,
  A100 : #ffffff,
  A200 : #fbfff4,
  A400 : #e7ffc1,
  A700 : #ddffa7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$faastener-violet: (
  50 : #ece5ed,
  100 : #d0bfd1,
  200 : #b194b3,
  300 : #926994,
  400 : #7a497d,
  500 : #632966,
  600 : #5b245e,
  700 : #511f53,
  800 : #471949,
  900 : #350f38,
  A100 : #f774ff,
  A200 : #f441ff,
  A400 : #f10eff,
  A700 : #e500f3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
