<section class="view-config-section">
  <div class="container">
    <div class="page-section-header text-center">
      <h2>
        Search Criteria
      </h2>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>License</mat-label>
        <mat-select [id]="'license'" [formControl]="license" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let license of searchCriteria.getLicensing().getLicense().getValues()"
                      [value]="license">{{license}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>License Type</mat-label>
        <mat-select [id]="'licenseType'" [formControl]="licenseType" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let licenseType of searchCriteria.getLicensing().getLicenseType().getValues()"
                      [value]="licenseType">{{licenseType}}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>Installation Type</mat-label>
        <mat-select [id]="'installationType'" [formControl]="installationType" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let inst of searchCriteria.getInstallation().getInstallation().getValues()"
                      [value]="inst">{{inst}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Target Hosts</mat-label>
        <mat-select [id]="'targetHosts'" [formControl]="targetHosts" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let host of searchCriteria. getInstallation().getTargetHosts().getValues()"
                      [value]="host">{{host}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>Code Availability</mat-label>
        <mat-select [id]="'codeAvailability'" [formControl]="codeAvailability" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getCode().getAvailability().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Code Hosting Platform</mat-label>
        <mat-select [id]="'codeHostingPlatform'" [formControl]="codeHostingPlatform" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getCode().getHostingPlatform().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Main Programming Language</mat-label>
        <mat-select [id]="'codeProgLanguage'" [formControl]="codeProgLanguage" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getCode().getMainLanguage().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>Interface Types</mat-label>
        <mat-select [id]="'interfaceTypes'" [formControl]="interfaceTypes" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getInterface().getInterfaceTypes().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Application Management Operations</mat-label>
        <mat-select [id]="'appInterfaceOps'" [formControl]="appInterfaceOps" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getInterface().getAppInterfaces().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Platform Administration Operations</mat-label>
        <mat-select [id]="'platformAdminOps'" [formControl]="platformAdminOps" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getInterface().getPlatformInterfaces().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>Application Documentation</mat-label>
        <mat-select [id]="'appDoc'" [formControl]="appDoc" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getDocumentation().getFunctionDocs().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Platform Documentation</mat-label>
        <mat-select [id]="'platformDoc'" [formControl]="platformDoc" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getDocumentation().getPlatformDocs().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>Code Size Quota</mat-label>
        <mat-select [id]="'qCodeSize'" [formControl]="qCodeSize" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getQuotas().getCodeSize().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Package Size Quota</mat-label>
        <mat-select [id]="'qPackageSize'" [formControl]="qPackageSize" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getQuotas().getPackageSize().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>CPU Quota</mat-label>
        <mat-select [id]="'qCpu'" [formControl]="qCpu" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getQuotas().getCpu().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Memory Quota</mat-label>
        <mat-select [id]="'qMemory'" [formControl]="qMemory" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getQuotas().getMemory().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Execution Time Quota</mat-label>
        <mat-select [id]="'qExecTime'" [formControl]="qExecTime" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getQuotas().getExecTime().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Storage Quota</mat-label>
        <mat-select [id]="'qStorage'" [formControl]="qStorage" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getQuotas().getStorage().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>Function runtimes</mat-label>
        <mat-select [id]="'devRuntimes'" [formControl]="devRuntimes" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getDevelopment().getRuntimes().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Runtime Customization</mat-label>
        <mat-select [id]="'runtimeCustomization'" [formControl]="runtimeCustomization" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getDevelopment().getRuntimeCustomization().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Editors</mat-label>
        <mat-select [id]="'devEditors'" [formControl]="devEditors" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getDevelopment().getEditors().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Client Libraries</mat-label>
        <mat-select [id]="'clientLibs'" [formControl]="clientLibs" multiple (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getDevelopment().getClientLibs().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>Function versioning</mat-label>
        <mat-select [id]="'functionVersion'" [formControl]="functionVersions" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getVersioning().getFunctionVersion().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Application versioning</mat-label>
        <mat-select [id]="'applicationVersion'" [formControl]="appVersions" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getVersioning().getApplicationVersion().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>Synchronous endpoint calls</mat-label>
        <mat-select [id]="'syncEndpoint'" [formControl]="syncEndpoint" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getSyncEndpoint().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Asynchronous endpoint calls</mat-label>
        <mat-select [id]="'asyncEndpoint'" [formControl]="asyncEndpoint" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getSyncEndpoint().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Endpoint customization</mat-label>
        <mat-select [id]="'endpointCustomization'" [formControl]="endpointCustomization" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getEndpointCustomization().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>TLS Support</mat-label>
        <mat-select [id]="'tls'" [formControl]="tls" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getTls().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>File level data stores</mat-label>
        <mat-select [id]="'fileDataStore'" [formControl]="fileDataStore" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getFileDataStore().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Database mode data stores</mat-label>
        <mat-select [id]="'database'" [formControl]="database" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getDatabase().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>Scheduler</mat-label>
        <mat-select [id]="'scheduler'" [formControl]="scheduler" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getScheduler().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutGap="30px">
      <mat-form-field>
        <mat-label>Message queue</mat-label>
        <mat-select [id]="'messageQueue'" [formControl]="messageQueue" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getMessageQueue().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Stream processing platform</mat-label>
        <mat-select [id]="'streamProcessing'" [formControl]="streamProcessing" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getStreamProcessing().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Special-purpose services</mat-label>
        <mat-select [id]="'specService'" [formControl]="specService" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getSpecService().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Custom events integration</mat-label>
        <mat-select [id]="'integration'" [formControl]="integration" multiple
                    (selectionChange)="filterOptions($event)">
          <mat-option *ngFor="let value of searchCriteria.getEventSource().getIntegration().getValues()"
                      [value]="value">{{value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>


    <mat-nav-list *ngIf="filteredPlatforms.length > 0">
      <mat-list-item *ngFor="let platform of filteredPlatforms">
        <a matLine [routerLink]="'/explorer'" [state]="{platformId: platform.id}">{{ platform.platformName }}</a>
        <button mat-icon-button [routerLink]="'/explorer'" [state]="{platformId: platform.id}">
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>

  </div>
</section>
