@import "../../_scss/shared";

:host {
  @include bg-grey;
  margin: 0 .2rem;
}

.child-grouping {
  margin: 0;
  height: 100%;
}

.child-grouping__title {
  padding: 1rem 1rem .5rem 1rem;
  font-size: 1.1rem;
  color: $violet-600;
}

.child-grouping__path {
  padding: 0 1rem 1rem 1rem;
}

.child-grouping__criterion {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
  margin: .5rem;
}

.child-grouping__criterion--nested {
  @include bg-grey;
}

