<app-header id="header"></app-header>
<div class="g__page-section technology" *ngIf="platform" (scroll)="onWindowScroll($event)">
  <ng-container>
    <img class="technology__logo" src="{{platform.logoLocation}}" alt="{{platform.platformName}}"/>
    <h1 class="g__page-section-header technology__header">{{platform.platformName}}</h1>

    <mat-form-field class="technology__view-combinations" appearance="fill" *ngIf="framework">
      <mat-label>Technology View Mode</mat-label>
      <mat-select [(value)]="selectedViewCombination">
        <mat-option [value]="option" *ngFor="let option of framework.viewCombinations">{{ option.name }}</mat-option>
      </mat-select>
    </mat-form-field>


    <app-framework-renderer [framework]="framework"
                            [reviewData]="reviewData"
                            [includeFrameworkInfo]="false">
    </app-framework-renderer>
  </ng-container>
</div>
<app-bottom-nav #bottomNavComponent></app-bottom-nav>
<app-footer></app-footer>






