@import "../../_scss/shared";
@import "../../_scss/global/variables";

:host {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

.table-container {
  align-self: center;
  flex-grow: 1;
  height: 100vh;
  width: 95vw;
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.tech-name-cell {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-content: flex-start;
  max-width: 5rem;
}

.value-cell {
  min-width: 3rem;
  overflow: hidden;
}

.tech-name-cell__logo {
  max-width: 2rem;
}

.tech-name-cell__title {
  margin: 0;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
  border: 1px solid #CCC;
  padding: 0 !important;
}

@media screen and (min-width: 900px) {
  .table-container {
    max-width: 1400px;
  }
}
