<section id="about-section" class="page-section" #about>
  <div class="container">

    <div class="page-section-header text-center" fxLayout="column">
      <h2>About</h2>
      <p class="text-justify">
        FaaStener is a research prototype which aims to provide support in choosing suitable Function-as-a-Service
        platforms based on the user-provided requirements.
        The classification framework behind FaaStener is derived by combining existing academic work and documentation
        of available Function-as-a-Service platforms.
        You can find more information about the classification framework, FaaStener, and FaaS cloud service model with
        additional resources by navigating using the respective buttons below.
      </p>
    </div>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">
      <div fxFlex="25">
        <mat-card class="about-card text-center">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>menu_book</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="font-light">
              Classification
            </h3>
            <span fxFlex="20px"></span>
            <p class="description">
              Learn about the classification framework and available criteria.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button matTooltip="Under construction">
                <strong class="text-muted">READ MORE</strong>
              </button>
            </div>
          </div>
        </mat-card>
      </div>

      <div fxFlex="25">
        <mat-card class="about-card text-center">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>cloud_done</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="font-light">Documentation</h3>
            <span fxFlex="20px"></span>
            <p class="description">
              Get the information on how to work with FaaStener and its features.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button matTooltip="Under construction">
                <strong class="text-muted">READ MORE</strong>
              </button>
            </div>
          </div>
        </mat-card>
      </div>

      <div fxFlex="25">
        <mat-card class="about-card text-center">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>library_books</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="font-light">Resources</h3>
            <span fxFlex="20px"></span>
            <p class="description">
              General information about FaaS and useful links.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button matTooltip="Under construction">
                <strong class="text-muted">READ MORE</strong>
              </button>
            </div>
          </div>
        </mat-card>
      </div>

      <div fxFlex="25">
        <mat-card class="about-card text-center">
          <div fxLayout="column">
            <div class="text-center">
              <mat-icon mat-card-icon>question_answer</mat-icon>
            </div>
            <span fxFlex="20px"></span>
            <h3 class="font-light">FAQ</h3>
            <span fxFlex="20px"></span>
            <p class="description">
              Find the answers to possible frequently-asked questions.
            </p>
            <span fxFlex></span>
            <div>
              <button mat-button matTooltip="Under construction">
                <strong class="text-muted">READ MORE</strong>
              </button>
            </div>
          </div>
        </mat-card>
      </div>

    </div>

  </div>
</section>
