<section class="about-section g__page-section">

  <h1 class="g__page-section-header text-center">About</h1>
  <p class="g__page-section__description text-justify">
    FaaStener is a research prototype which aims to provide support in choosing suitable Function-as-a-Service
    platforms based on the user-provided requirements.
    The classification framework behind FaaStener is derived by combining existing academic work and documentation
    of available Function-as-a-Service platforms.
    You can find more information about the classification framework, FaaStener, and FaaS cloud service model with
    additional resources by navigating using the respective buttons below.
  </p>


  <div class="about-section__cards">
    <mat-card class="about-section__card text-center">
      <mat-icon class="about-section__card-icon">
        <fa-icon [icon]="faBook"></fa-icon>
      </mat-icon>
      <h2 class="about-section__card-title font-light"> Framework</h2>
      <p class="about-section__card-description"> Learn about the classification framework and available
        criteria.</p>
      <button mat-button [routerLink]="['/info']"><strong class="text-muted">READ MORE</strong></button>
    </mat-card>

    <mat-card class="about-section__card text-center">
      <mat-icon class="about-section__card-icon">cloud_done</mat-icon>
      <h2 class="about-section__card-title font-light">Docs</h2>
      <p class="about-section__card-description"> Information on how to work with FaaStener and its features. </p>
      <a mat-button href="https://faastener.github.io/faastener/" target="_blank"><strong class="text-muted">READ MORE</strong></a>
    </mat-card>

    <mat-card class="about-section__card text-center">
      <mat-icon class="about-section__card-icon">library_books</mat-icon>
      <h2 class="about-section__card-title font-light">Resources</h2>
      <p class="about-section__card-description"> Additional resources related to Function-as-a-Service platforms. </p>
      <button mat-button [routerLink]="['/info/resources']"><strong class="text-muted">READ MORE</strong></button>
    </mat-card>

    <!--<mat-card class="about-section__card text-center">
      <mat-icon mat-card-icon class="about-section__card-icon">question_answer</mat-icon>
      <h2 class="about-section__card-title font-light">Q&A</h2>
      <p class="about-section__card-description">Answers to some possible questions.</p>
      <button mat-button [routerLink]="['/info/faq']"><strong class="text-muted">READ MORE</strong></button>
    </mat-card>-->
  </div>

</section>
