@import "../../_scss/shared";

:host {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  @include bg-grey;
}

.platforms {
  width: 95%;
  margin-bottom: 1.5rem;
}

.platforms__container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}


.platforms__logos {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: .5rem;
  list-style: none;
  padding: .5rem;
}

.platforms__item {
  margin: .5rem;

  align-self: center;
}

.platforms__button {
  width: 50%;
}

.platforms__logo {
  max-width: 70%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
  justify-self: center;
  opacity: .7;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;

  &:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 550px) {
  .platforms__logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .platforms__button {
    width: 35%;
  }
}
