<section class="platforms g__page-section" *ngIf="supportedPlatforms$ | async as platforms">

  <h1 class="g__page-section-header text-center">Reviewed Platforms</h1>
  <p class="g__page-section__description text-center">
    Explore the list of reviewed platforms which includes commercial and open source products.
  </p>

  <div class="platforms__container">
    <ul class="platforms__logos">
      <ng-container *ngFor="let p of platforms">
        <li class="platforms__item">
          <a [routerLink]="['/platforms', p.category.toLocaleLowerCase(), p.id]">
            <img class="platforms__logo" src="{{p.logoLocation}}" alt="{{p.platformName}}" matTooltip="{{p.platformName}}"/>
          </a>
        </li>
      </ng-container>
    </ul>

    <button class="platforms__button" mat-raised-button color="accent" [routerLink]="'/platforms'">
      Browse Platforms
    </button>
  </div>

</section>
